.footer{
    background:#C2BEB5;
    margin-top:auto;
}

.img-logo-footer{
    width: 120px;
}

.col-links-2 ul{
    list-style: none;
}

.col-links-contacto ul{
    list-style: none;

}

.col-links-2{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center
}
