.listaLinks li{
    margin: 10px;
}

.listaLinks li a{
    text-decoration: none;
    color: rgb(92, 92, 94)
}

.listaLinks li a:hover{
    color: rgb(43, 40, 40)
}

@media screen and (max-width:990px){

    .logoTred{
        display: none;
    }
}

ul.bg{
    background-color: transparent;
    border: none;
}


