.listaLinks li{
    margin: 10px;
}

.listaLinks li a{
    text-decoration: none;
    color: white
}

.listaLinks li a:hover{
    color: #D8BBB7
}

@media screen and (max-width:990px){

    .logoTred{
        display: none;
    }
}

ul.bg{
    background-color: transparent;
    border: none;
}


