*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(194,190,181,1) 0%, rgba(216,187,183,1) 50%, rgba(181,186,182,1) 100%);
    display:flex;
    flex-direction:column;
    height: 100vh;
    overflow-x: hidden;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}